
<%# Renders a partial which is used to create a new operating_system %>

<%= form_for([:admin, @operating_system], :html => {:id=>"form_operating_system", :class=>"mb-0 form-horizontal", :role => "form", :method => (@operating_system.new_record? ? :post : :put), :remote=>true}) do |f| %>

  <div class="modal-body">

    <%= @operating_system.errors[:base].to_sentence %>

    <%= hidden_field_tag :faction, @operating_system.new_record? ? admin_operating_systems_path : admin_operating_systems_path(@operating_system) %>
    <%= hidden_field_tag :fmethod, @operating_system.new_record? ? "POST" : "PUT" %>

    <div class="form-inputs">


      <!-- Name (string) -->
      <%= render :partial=>"layouts/common/form_field", :locals=>{:object=>@operating_system,
                                              :object_name=>'operating_system',
                                              :field_name=>'name',
                                              :display_name=>'Name',
                                              :field_type=>'string',
                                              :input_type=>'text',
                                              :required=>true,
                                              :place_holder=>"e.g: Ubuntu"} %>

      <!-- Short Name (string) -->
      <%= render :partial=>"layouts/common/form_field", :locals=>{:object=>@operating_system,
                                              :object_name=>'operating_system',
                                              :field_name=>'short_name',
                                              :display_name=>'Short Name',
                                              :field_type=>'string',
                                              :input_type=>'text',
                                              :required=>true,
                                              :place_holder=>"e.g: CentOS"} %>

      <!-- Description (text) -->
      <%= render :partial=>"layouts/common/form_field", :locals=>{:object=>@operating_system,
                                              :object_name=>'operating_system',
                                              :field_name=>'description',
                                              :display_name=>'Description',
                                              :field_type=>'text',
                                              :input_type=>'textarea',
                                              :required=>false} %>

    </div>

  </div>

  <div class="modal-footer">

    <div class="pull-right">
      <% button_text = "#{@operating_system.new_record? ? "Create" : "Update"} Item" %>
			<%# if @operating_system.new_record? %>
				<%#= link_to "Cancel", "#", :class => "btn", :remote=>true %>
			<%# else %>
				<%#= link_to 'Back', admin_operating_systems_path, :class=>"btn ml-10", :remote => true unless @operating_system.new_record? %>
			<%# end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= submit_tag button_text, "data-reset-text"=>button_text, "data-loading-text"=>"Saving ...", :class=>"btn btn-primary ml-10" %>
    </div>

  </div>

	<div class="cl-10"></div>

<% end %>

