
<%# Displays a detailed view of the designation %>
<%# Display Flash Message if any only in case of ajax request %>
<% if request.xhr? %>
	<%= render :partial=>"layouts/common/flash_message" %>
<% end %>

<div class="panel panel-profile">
  <div class="panel-body" style="height:auto;">
    <div class="basic-profile" style="height:auto;padding:10px;">
      <%= link_to display_image(@designation, :picture),
                  upload_image_link(@designation, admin_designation_path(@designation), :picture),
                  :remote => true %>
      <div class="pull-left mb-20 text-color-gray">
        <div class="font-size-18 text-color-blue"><%= @designation.title %></div>
        <div class="font-size-12 text-color-gray"> <%= @designation.responsibilities %></div>
      </div>
      <div class="cl"></div>
    </div>

  </div>
</div>


<%= render :partial => "widgets/more_details", :locals=>{:data_model => @designation,
                      :edit_link => edit_admin_designation_path(@designation),
                      :delete_link => admin_designation_path(@designation)} %>