<% if @designation.errors.blank? %>
	
	// Fill the right box with first designation details
	$('#div_designation_details').html("<%= escape_javascript(render(:partial=>'show')) %>");
	
	// Add the newly created item to the list
  $("#div_designation_collections").prepend("<div id=\"div_designation_<%= @designation.id %>\"><%= escape_javascript(render(:partial => 'item', :locals => { :designation => @designation })) %></div>")
  $("#div_designation_empty").hide();
  
  // Close Modal
  closeModal();

<% else %>
	
  // Show the new form in the pop up form.
  heading = "Create Designation";
  bodyContent = "<%= escape_javascript(render(:partial=>"form")) %>";
  showModal(heading, bodyContent);
  validateDesignationForm();
  
  // Populate Server Side Errors
  errorMessages = <%= @designation.errors.full_messages.to_json.html_safe %>;
  populateServerSideErrors('designation', errorMessages);
	
<% end %>
