<div class="navbar">
	<a href="#" onclick="return false;" class="btn pull-left toggle-sidebar"><i class="fa fa-list"></i></a>
	<a class="navbar-brand" href="index.html">Q-Auth</a>

	<!-- Top right user menu -->
	<ul class="nav navbar-nav user-menu pull-right">
		<!-- First nav user item -->
		<li class="dropdown hidden-xs hidden-md">
			<a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i></a>
			<ul class="dropdown-menu right inbox">
				<li class="dropdown-menu-title">
					INBOX <span>(25)</span>
				</li>
				<li>
					<img src="/assets/theme/avatarTwo.png" alt="" class="avatar">
					<div class="message">
						<span class="username">Anusha</span>
						<span class="mini-details">(6) <i class="fa fa-paper-clip"></i></span>
						<span class="time pull-right"> 06:58 PM</span>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ... </p>
					</div>
				</li>
				<li>
					<img src="/assets/theme/avatarFive.png" alt="" class="avatar">
					<div class="message">
						<span class="username">Veeru</span>
						<span class="mini-details">(2) <i class="fa fa-paper-clip"></i></span>
						<span class="time pull-right"> 09:58 AM</span>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ... </p>
					</div>
				</li>
				<li>
					<img src="/assets/theme/avatarSix.png" alt="" class="avatar">
					<div class="message">
						<span class="username">Nag</span>
						<span class="mini-details">(6) <i class="fa fa-paper-clip"></i></span>
						<span class="time pull-right">Yesterday</span>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ... </p>
					</div>
				</li>
				<li>
					<img src="/assets/theme/avatarSeven.png" alt="" class="avatar">
					<div class="message">
						<span class="username">Harish</span>
						<span class="mini-details"> <i class="fa fa-picture-o"></i></span>
						<span class="time pull-right">14/12/2013</span>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ... </p>
					</div>
				</li>
				<li class="dropdown-menu-footer">
					<a href="#">View All Messages</a>
				</li>
			</ul>
		</li><!-- /dropdown -->

		<!-- Second nav user item -->
		<li class="dropdown hidden-xs hidden md">
			<a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i></a>
			<ul class="dropdown-menu right notifications">
				<li class="dropdown-menu-title">
					Notifications
				</li>
				<li>
					<i class="fa fa-cog avatar text-success"></i>
					<div class="message">
						<span class="username text-success">New settings activated</span>
						<span class="time pull-right"> 06:58 PM</span>
					</div>
				</li>
				<li>
					<i class="fa fa-shopping-cart avatar text-danger"></i>
					<div class="message">
						<span class="username text-danger">You have 2 returns</span>
						<span class="time pull-right"> 04:29 PM</span>
					</div>
				</li>
				<li>
					<i class="fa fa-user avatar text-success"></i>
					<div class="message">
						<span class="username text-success">New User registered</span>
						<span class="time pull-right"> Yesterday</span>
					</div>
				</li>
				<li>
					<i class="fa fa-comment avatar text-info"></i>
					<div class="message">
						<span class="username text-info">New Comment received</span>
						<span class="time pull-right"> Yesterday</span>
					</div>
				</li>
				<li>
					<i class="fa fa-cog avatar text-warning"></i>
					<div class="message">
						<span class="username text-warning">User deleted</span>
						<span class="time pull-right"> 2 days ago</span>
					</div>
				</li>
				<li>
					<i class="fa fa-dollar avatar"></i>
					<div class="message">
						<span class="username">Earned 200 points</span>
						<span class="time pull-right">3 days ago</span>
					</div>
				</li>
				<li>
					<i class="fa fa-hdd avatar text-danger"></i>
					<div class="message">
						<span class="username text-danger">Memory size exceeded </span>
						<span class="time pull-right"> 1 week ago</span>
					</div>
				</li>

				<li class="dropdown-menu-footer">
					<a href="#">View All Notifications</a>
				</li>
			</ul>
		</li><!-- / dropdown -->

		<% if @current_user %>
			<li class="dropdown user-name">
				<a class="dropdown-toggle" data-toggle="dropdown"><img src="/assets/theme/avatarSeven.png" class="user-avatar" alt="" /><%= @current_user.display_name %></a>
				<ul class="dropdown-menu right inbox user">
					<li class="user-avatar">
						<img src="/assets/theme/avatarSeven.png" class="user-avatar" alt="<%= @current_user.display_name %>" />
						<%= @current_user.display_name %>
					</li>
					<li>
						<i class="fa fa-user avatar"></i>
						<div class="message">
							<%= link_to "My Profile", user_profile_path, :class=>"username float-left" %>
						</div>
					</li>
					<li>
						<i class="fa fa-cogs avatar"></i>
						<div class="message">
							<%= link_to "Account Settings", user_settings_path, :class=>"username float-left" %>
						</div>
					</li>
					<li>
						<%= link_to raw("<i class=\"fa fa-power-off\"></i> Sign Out"), user_sign_out_path, :method => :delete %>
					</li>
				</ul>
			</li><!-- / dropdown -->
		<% end %>
	</ul><!-- / Top right user menu -->

</div><!-- / Navbar-->