
<%# Renders a partial which is used to create a new user %>

<%= form_for([:admin, @user], :html => {:id=>"form_user", :class=>"mb-0 form-horizontal", :role => "form", :method => (@user.new_record? ? :post : :put), :remote=>true}) do |f| %>

  <div class="modal-body">

    <%= @user.errors[:base].to_sentence %>

    <%= hidden_field_tag :faction, @user.new_record? ? admin_users_path : admin_users_path(@user) %>
    <%= hidden_field_tag :fmethod, @user.new_record? ? "POST" : "PUT" %>

    <div class="form-inputs">


      <!-- Name (string) -->
      <%= render :partial=>"layouts/common/form_field", :locals=>{:object=>@user,
                                              :object_name=>'user',
                                              :field_name=>'name',
                                              :display_name=>'Name',
                                              :field_type=>'string',
                                              :input_type=>'text',
                                              :required=>true,
                                              :place_holder=>"e.g: Black."} %>

      <!-- Username (string) -->
      <%= render :partial=>"layouts/common/form_field", :locals=>{:object=>@user,
                                              :object_name=>'user',
                                              :field_name=>'username',
                                              :display_name=>'Username',
                                              :field_type=>'string',
                                              :input_type=>'text',
                                              :required=>true,
                                              :place_holder=>"e.g: joe.black."} %>

      <!-- Email (string) -->
      <%= render :partial=>"layouts/common/form_field", :locals=>{:object=>@user,
                                              :object_name=>'user',
                                              :field_name=>'email',
                                              :display_name=>'Email',
                                              :field_type=>'string',
                                              :input_type=>'email',
                                              :required=>true,
                                              :place_holder=>"e.g: jblack@qwinixtech.com"} %>

      <!-- Designation (string) -->
      <%= render :partial=>"layouts/common/form_field", :locals=>{:object=>@user,
                                              :object_name=>'user',
                                              :field_name=>'designation',
                                              :display_name=>'Designation',
                                              :field_type=>'string',
                                              :input_type=>'text',
                                              :required=>false,
                                              :place_holder=>"e.g: Solutions Architect"} %>

      <!-- Organisation (string) -->
      <%= render :partial=>"layouts/common/form_field", :locals=>{:object=>@user,
                                              :object_name=>'user',
                                              :field_name=>'organisation',
                                              :display_name=>'Organisation',
                                              :field_type=>'string',
                                              :input_type=>'text',
                                              :required=>false,
                                              :place_holder=>"e.g: Qwinix Technologies Pvt Ltd"} %>

      <!-- Phone (string) -->
      <%= render :partial=>"layouts/common/form_field", :locals=>{:object=>@user,
                                              :object_name=>'user',
                                              :field_name=>'phone',
                                              :display_name=>'Phone',
                                              :field_type=>'string',
                                              :input_type=>'tel',
                                              :required=>false,
                                              :place_holder=>"e.g: +91-9880-181-181."} %>

    </div>

  </div>

  <div class="modal-footer">

    <div class="pull-right">
      <% button_text = "#{@user.new_record? ? "Create" : "Update"} Item" %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= submit_tag button_text, "data-reset-text"=>button_text, "data-loading-text"=>"Saving ...", :class=>"btn btn-primary ml-10" %>
    </div>

  </div>

	<div class="cl-10"></div>

<% end %>

